<!DOCTYPE html>
<html>
<head>
  <title>Piano Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="portfolio-items"><%= render 'portfolio_items/index' %></div>
<div id="intro-image"><%= render 'pages/introimage' %></div>
</body>
</html>
