<!DOCTYPE html>
<html>
<head>
  <title>HKPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic,400italic|Roboto:300,100' rel='stylesheet' type='text/css'>
</head>
<body ng-app="App">
  <div ng-controller="ApplicationController">
    <%= render 'templates/navbar' %>
    <%= yield %>
  </div>
</body>
<script>
   angular
   .module( 'App', [ 'ngMaterial' ] )
   .controller("ApplicationController", ApplicationController);
</script>
</html>
